{% block title %}
{% endblock %}

{% block stylesheets %}
	<link href="https://bootswatch.com/4/minty/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
	<div id="app"></div>
{%  endblock %}


{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
