html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	width: 100%;
}
.row{
    margin-right: 0px; 
    margin-left: 0px;
}

.tmp{
    
    width: 100%;
    position: absolute;

}

a {
    /* color: #78C2AD!important; */
    /* text-decoration: none!important; */
    /* background-color: transparent!important; */
    font-size: 17px!important;
}

footer {
    width: 100%;
    color: white;
    background-color: #78C2AD;
    display: flex; 
    bottom: 0; 
    left: 0; 
    right: 0;
    margin-top: 10vh;
}
footer h6 {
    color: white;
}
footer a {
    color: white;
}